/.gitattributes export-ignore
/.github/ export-ignore
/.circleci/ export-ignore
/.gitignore export-ignore
/.laminas-ci.json export-ignore
/build export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml export-ignore
/psalm-baseline.xml export-ignore
/tests/ export-ignore
